{
  "openapi": "3.0.3",
  "info": {
    "title": "Freelance Platform API",
    "description": "API for managing freelancers and projects",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://api.freelanceplatform.com/v1"
    }
  ],
  "paths": {
    "/freelancers": {
      "get": {
        "summary": "Get all freelancers",
        "operationId": "getFreelancers",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "A list of freelancers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Freelancer"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a freelancer",
        "operationId": "createFreelancer",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Freelancer"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Freelancer created"
          }
        }
      }
    },
    "/freelancers/{id}": {
      "get": {
        "summary": "Get a freelancer by ID",
        "operationId": "getFreelancerById",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Freelancer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Freelancer"
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "summary": "Get all projects",
        "operationId": "getProjects",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "A list of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a project",
        "operationId": "createProject",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created"
          }
        }
      }
    },
    "/projects/{id}/assign": {
      "post": {
        "summary": "Assign a freelancer to a project",
        "operationId": "assignFreelancerToProject",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "freelancerId": {
                    "type": "string"
                  }
                },
                "required": ["freelancerId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Freelancer assigned to project"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Freelancer": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "email": { "type": "string" },
          "skills": {
            "type": "array",
            "items": { "type": "string" }
          },
          "hourlyRate": { "type": "number" }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "budget": { "type": "number" },
          "freelancerId": { "type": "string", "nullable": true }
        }
      }
    }
  }
}